.FrequencySpectrum {
   margin:0;
   display: flex;
   flex-direction: column;
align-items: center;
}

.Title {
    text-align: center;   
    font-weight: 700; 
    font-size: 1.5rem;
    color:blue;
}

.dbValue {
    text-align: center;
    color:blue;
    font-size: 1.2rem;
    margin-top: -10px;

}

#frequencyGraph {
    height: 700px;
    width:1000px;
    margin:auto;
}
